<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@ViewBag.Title</title>
    <link href="../../Content/beheerder.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
<style>
.content { margin-right: -1px; } /* this 1px negative margin can be placed on any of the columns in this layout with the same corrective effect. */
ul.nav a { zoom: 1; }  /* the zoom property gives IE the hasLayout trigger it needs to correct extra whiltespace between the links */
</style>
<![endif]-->
</head>

<body>

<div class="container">
<div class="header">
	<div class="logo"><a href="/beheerder"><img src="/images/logobeheer.png" alt="intosport beheerder panel" /></a></div>
    <div class="rightheader">@Html.Partial("_SmallAccountInfo")</div>
</div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="/beheerder/artikelen">Artikelen</a></li>
      <li><a href="/beheerder/categorieen">Categorieën</a></li>
      <li><a href="/beheerder/sporten">Sporten</a></li>
      <li><a href="/beheerder/merken">Merken</a></li>
    </ul>
    </div>
  <div class="content">@RenderBody()
  </div>
</div>
</body>
</html>