@{
    ViewBag.Title = "Sitemap - INTOSPORT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
	  <div class="contentbar">
	  <div class="sorteerdiv">Sitemap</div>
	  </div>
      <div class="contentfield">

      <ul>
      <li><a href="/">Home</a></li>

      <li><a href="/kleding">Kleding</a></li>
        <ul>
        <li><a href="/kleding/mannen">Mannen</a></li>

        <li><a href="/kleding/vrouwen">Vrouwen</a></li>
        </ul>
      <li><a href="/accessoires">Accessoires</a></li>

      <li><a href="/nieuw">Nieuwe producten</a></li>

      <li><a href="/merken">Merken</a></li>

      <li><a href="/home/contact">Contact</a></li>

      <li><a href="/home/levertijden">Levertijden</a></li>

      <li><a href="/home/betalen">Betalen</a></li>

      <li><a href="/home/retourneren">Retourneren</a></li>

      <li><a href="/home/winkel">Winkel</a></li>

      <li><a href="/home/voorwaarden">Algemene voorwaarden</a></li>

      <li><a href="/home/vacatures">Vacatures</a></li>
      </ul>

      </div>
</div>