@using webshop.Models;
@model Artikel
           
@{
    ViewBag.Title = "Artikel is toegevoegd - INTOSPORT";
    Layout = "~/Views/Shared/_BeheerLayout.cshtml";
}


    <div>
        <p>@Model.naam is succesvol toegevoegd in de database.</p>
        <p><strong><a href="/beheerder/artikelen">« Ga terug</a></strong></p>
    </div>