@{
    ViewBag.Title = "Categorie is toegevoegd - INTOSPORT";
    Layout = "~/Views/Shared/_BeheerLayout.cshtml";
}


    <div>
        <p>Categorie is succesvol toegevoegd in de database.</p>
        <p><strong><a href="/beheerder/categorieen">« Ga terug</a></strong></p>
    </div>