@{
    ViewBag.Title = "Merk is toegevoegd - INTOSPORT";
    Layout = "~/Views/Shared/_BeheerLayout.cshtml";
}


    <div>
        <p>Merk is succesvol toegevoegd in de database.</p>
        <p><strong><a href="/beheerder/merken">« Ga terug</a></strong></p>
    </div>