          
@{
    ViewBag.Title = "Sport is verwijderd - INTOSPORT";
    Layout = "~/Views/Shared/_BeheerLayout.cshtml";
}


    <div>
        <p>Sport is succesvol verwijderd uit de database.</p>
        <p><strong><a href="/beheerder/sporten">« Ga terug</a></strong></p>
    </div>
